* {
    margin: 0;
    padding: 0;
}

:root {
    --header-size: 3rem;
    --unit: 0.5rem;
    --max-width: 710px;
    background: teal;
    display: flex;
    justify-content: space-around;
}

body {
    max-width: var(--max-width);
}

#Topics {
    position: fixed;
    top: 0;
    z-index: 1;
    height: var(--header-size);
    overflow: scroll;
    max-height: calc(100vh - calc(3 * var(--unit)));
    color: transparent;
    width: calc(100vw - calc(3 * var(--unit)));
    max-width: calc(var(--max-width) - 3 * var(--unit));
    border-radius: 15px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: var(--unit);
    padding-left: var(--unit);
    cursor: pointer;
    filter: drop-shadow(0 0 0.5rem rgba(0,0,0,0.75));
}

#Topics.active {
    height: 100%;
    color: antiquewhite;
}

#Topics:hover {
    transition: 0.5s ease-in-out;
    filter: drop-shadow(0 0 0.5rem rgba(219, 219, 219, 0.25));
}

#Topics > h3 {
    display: none;
    border: 2px solid transparent;
    margin: calc(1 * var(--unit)) calc(3.5 * var(--unit));
    width: calc(100vw - 15 * var(--unit));
    max-width: calc(0.5 * var(--max-width));
    padding: var(--unit) calc(2 * var(--unit));
    /* padding-left: calc(5 * var(--unit)); */
}

#Topics > h3:hover {
    border: 2px solid antiquewhite;
    border-radius: 15px;
    /* filter: drop-shadow(0 0 0.75rem rgba(219, 219, 219, 0.75)); */
}

#Topics.Active > h3 {
    display: unset;
}

#Topics > h1 {
    color: antiquewhite;
    font-size: 1rem;
    font-weight: 200;
    margin-top: var(--unit);
}

#Topics > h1:before {
    content: "📖";
    margin-right: calc(2 * var(--unit));
    margin-left: calc(1 * var(--unit));
}

#Opening, #Sections {
    display: block;
    background: antiquewhite;
    margin-top: calc(var(--header-size) + 3 * var(--unit));
    margin-left: var(--unit);
    margin-right: var(--unit);
    padding: calc(2 * var(--unit));
    /* padding-bottom: calc(2 * var(--unit));
    padding-right: calc(2 * var(--unit)); */
    max-height: calc(100vh - var(--header-size) - 11 * var(--unit));
    overflow: scroll;
    border-radius: 15px;
    filter: drop-shadow(0 0 0.5rem rgba(0,0,0,0.75));
}

#Opening.Hidden {
    display: none;
}

.Section {
    display: none;
}

.Section.Visible {
    display: unset;
}